<html>
    <head>
        <title>FAIR Matrix</title>
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        {% load static %}
        <img src="{% static 'matrix/logo.png' %}" alt="FAIRIST Recommendations Logo" style="width: 33%; height: 33%;"/>
        <p>
            Based on your responses, the following recommendations are included 
            for your consideration and/or inclusion in your project’s Data 
            Management (& Sharing) Plan.
        </p>
        <h3>Types of Data</h3>
        <p>
            Research objects associated with the project can be classified into the 
            following groups:
            <ul>
                {% for product in survey.q01_products_list %}
                    <li>{{ product }}</li>
                {% endfor %}
            </ul>
        </p>
        <h3>Data Stewardship Practices Planned</h3>
        <p>
            Table 1 shows specific data stewardship actions that will be undertaken
            during the project as they relate to the high-level goals of FAIR and open science.
        </p>
        <table>
            <tr>
                <th>FAIR Dimension</th>
                <th>Research Data Stewardship Practices Planned</th>
            </tr>
            <tr>
                <td>Findable</td>
                <td>
                    <ul>
                        <li>Research products will be posted to 
                            {% for products_post in survey.q05_products_posted_list %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ products_post }}{% endfor %}.
                            {% if "Simulation Data" in survey.q01_products_list %}
                                Simulations will include {{ survey.q06_simulations }}.
                            {% endif %}
                        </li>
                        {% if "Data" in survey.q01_products %}
                        <li>Data will be assigned a unique identifier.</li>
                        {% endif %}
                        {% if "Data" in survey.q01_products %}
                        <li>Data DOIs will be obtained {{ survey.q04_doi }}</li>
                        {% endif %}
                        <li>Metadata and links to related ontologies will be available on the {{ survey.q02_project_name }} website.</li>
                        {% if "Yes" in survey.q30_schema_org %}
                        <li>The website where the data is posted to or linked from will include schema.org tags.</li>
                        {% endif %}
                        {% if "Yes and science-on-schema" in survey.q30_schema_org %}
                        <li>The website where the data is posted to or linked from will include schema.org and science-on-schema tags.</li>
                        {% endif %}
                        {% if "Yes and bioschemas" in survey.q30_schema_org %}
                        <li>The website where the data is posted to or linked from will include schema.org and bioschema tags.</li>
                        {% endif %}
                        {% if "Yes and ocean info hub" in survey.q30_schema_org %}
                        <li>The website where the data is posted to or linked from will include schema.org and ocean info hub tags.</li>
                        {% endif %}
                        {% if survey.q15_input_data_list %}
                        <li>Input data will be in the following formats: {% for input in survey.q15_input_data_list %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ input }}{% endfor %}</li>
                        {% endif %}
                        {% if survey.q15_output_data_list %}
                        <li>Output data will be in the following formats: {% for output in survey.q15_output_data_list %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ output }}{% endfor %}</li>
                        {% endif %}
                        {% if survey.q29_register_repo %}
                        <li>The repository will be registered via {{ survey.q29_register_repo }}.</li>
                        {% endif %}
                        {% if survey.q30_schema_org %}
                        <li>Webpages (HTML) that list the datasets will include schema.org tags {{ survey.q30_schema_org }}.</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Accessible</td>
                <td>
                    <ul>
                        <li>Available from an open web accessible folder. <!-- 
                            {% if "No" in survey.q12_specialized_software %} that doesn’t require specialized software to access. {% else %} The software needed to access the project’s research objects can be obtained from {{ survey.q12_specialized_software_specify }}.{% endif %} 
                            {% if "Yes" in survey.q11_specialized_software_open_source %} This software is open source.{% endif %}--></li>
                        
                        {% if "Yes" in survey.q19_api %}
                        <li>An API is provided. </li> 
                        {% endif %}
                        {% if "Yes" in survey.q20_api_versioned %}
                        <li>The API is versioned. </li> 
                        {% endif %}
                        {% if "Yes" in survey.q233_smart_api %}
                        <li>The API is a Smart API. </li> 
                        {% endif %}
                        {% if "Yes" in survey.q09_open_data %}
                        <li>All data is open.</li>
                        {% endif %}
                        {% if "Yes" in survey.q13_existing_libraries %}
                        <li>The project software is built on existing libraries.</li>
                        {% endif %}
                        {% if survey.q22_ML_code %}
                        <li>ML code/software will be deposited at {{ survey.q22_ML_code }}.</li>
                        {% endif %}
                        {% if survey.q27_ML_data_shared %}
                        <li>ML datasets will be shared on {{ q27_ML_data_shared }}.</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Interoperable</td>
                <td>
                    <ul>
                         {% if "Software and Associated Documentation" in survey.q01_products %}
                        <li>Code stored on github (and linked from the {{ survey.q02_project_name }} website).</li>
                        {% endif %}
                        <!-- <li>Both input and output data are in HDF5 format.</li> -->
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Reusable</td>
                <td>
                    <ul>
                        {% if survey.q26_ML_models_shared %}
                        <li>ML models will be shared on {{ survey.q26_ML_models_shared }}.</li>
                        {% endif %}
                        {% if survey.q16_notebooks_shared %}
                        <li>Notebooks will be {{ survey.q16_notebooks_shared }}.</li> 
                        {% endif %} 
                        {% if survey.q17_notebooks_template %}
                        <li>Notebooks will be based on a notebook template.</li> 
                        {% endif %} 
                        {% if survey.q14_nano_publications %}
                        <li>Notebooks, nanopublications, annotations, or other semantic descriptions will be published at {{ survey.q14_nano_publications }}.</li>
                        {% endif %}
                        {% if survey.q6_simulations %}
                        <li>For all simulations, {{ survey.survey.q6_simulations }}.</li>
                        {% endif %}
                        {% if survey.q07_license %}
                        <li>A notice posted will designate research objects as licensed under 
                            {% if "Other" in survey.q07_license %} 
                                {% if survey.q08_license_other_institutional %}{{ survey.q08_license_other_institutional}}{% endif %}
                                {% if survey.q08_license_other_none %}{{ survey.q08_license_other_none}}{% endif %}
                            {% else %}
                                <a href="https://creativecommons.org/about/cclicenses/">{{ survey.q07_license }}</a>
                            {% endif %}.
                        {% endif %}
                        {% if survey.q25_ML_repro %}
                        <li>Reproducibility implementation considerations for documenting analysis that includes ML will include {{ survey.q25_ML_repro }}.</li>
                        {% endif %}
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <p>
            Table 1: Data Stewardship Practices Planned by FAIR Dimension
        </p>
        {% if "Yes" in survey.q10_indigenous_populations %}
        <h3>Ethical Dimensions</h3>
        <p>
            Data and other research outputs will be created, used, and managed with respect to the <a href="https://www.gida-global.org/care">CARE Principles of Indigenous Data Governance</a>. This includes ensuring that data ecosystems will be designed to enable Indigenous Peoples to derive benefit. The project team recognizes the 
            <ul>
                <li>Rights and interests Indigenous People have over their data, that they have a right to govern their data.</li>
                <li>Responsibility to ensure positive relationships and to engage in ways that expand capabilities and capacity where possible, as well as to make research outputs available in the Indigenous language if applicable and possible.</li>
                <li>Ethics needed to ensure the primary concern at all stages of research are the rights and wellbeing of Indigenous Peoples.</li>
            </ul>    
        </p>
        {% endif %}
        {% if "Yes" in survey.q28_dmp %}       
        <p> This plan will be shared. </p>
        <!-- need to add the specific choice -->
        {% endif %}
    </body>
</html>

